body{

  background-color: rgba(0,0,0,1);
  overflow:hidden;
}
.heading{
  position:absolute;
  top:10%;

  height:25vh;
  width:90%;

  font-size: 7vh;
  display:block;

}
.heading-1{
  position:absolute;
  left:3vh;

  width:80%;

  text-decoration: underline;
  color:silver;

text-shadow:1px 1px 1px blue;
}
.text{
  color: white;
  text-align: justify;
  padding-left: 5vh;
  padding-right:5vh;
  margin-right:2vh;
  font-family: monospace;
  font-size:1.8vh;
  height: 80vh;
}
.about{
  top:35%;
  position:absolute;
  left:2vh;
}

.header{
  width:100%;
  height:15vh;
  position: absolute;
  left:0%;
  top:0%;
}
.footer{
  width:100%;
  height:35vh;
  position:fixed;
  bottom:0%;
  left:0%;
  z-index:5;
}
@media only screen and (max-width:800px){
  .heading{
    font-size:4vh;
    left:5vw;
  }
.about{
  top:27%;
height:150vh;
overflow:scroll;
}
body{
  overflow: scroll;
}
}
